<!--加盟优势 开始-->
		<div class="suoxin-pro darkgreycolor">
    <div class="containerbox cf">
   	  <div class="pitch-intro solution maintop">
          <h2 class="wow fadeInDown" data-wow-delay="0.2s">写字楼/医院/政府/学校/工厂配套方案</h2>
          <p class="wow fadeInDown" data-wow-delay="0.2s"><span>●</span>产品获专利保护 <span>●</span>可私人订制，根据豪华级别采用产品<span>●</span>以简约大气、方便、安全耐用为原则</span></p>
        </div> 
         <div class="evvaimg wow fadeInUp" data-wow-delay="0.3s"><img class="img-responsive" src="images/solution2.jpg"/> </div>
    </div>
    </div>
<!--加盟优势 end-->