<!--家庭住宅方案 开始-->
		<div class="suoxin-pro greycolor">
    <div class="containerbox cf">
   	  <div class="pitch-intro solution maintop">
          <h2 class="wow fadeInDown" data-wow-delay="0.2s">家庭住宅五金配套方案</h2>
          <p class="wow fadeInDown" data-wow-delay="0.2s"> <span>●</span>可根据设计风格配套 <span>●</span>可私人订制，根据豪华级别采用产品 <span>●</span>以简约大气、方便、安全耐用为原则</span></p>
        </div> 
         <div class="evvaimg wow fadeInUp" data-wow-delay="0.3s"><img class="img-responsive" src="images/solution.jpg"/> </div>
    </div>
    </div>
<!--家庭住宅方案 end-->