<!--面板 开始-->
	<div class="suoxin-pro panels maintop">
    <div class="containerbox cf">
    	  <div class="pitch-intro whitecolor">
          <h2 class="wow fadeInDown" data-wow-delay="0.2s">品质  岂止表面</h2>
          <p class="wow fadeInDown" data-wow-delay="0.2s">本产品是公司出口德国的产品，超强硬度的面板符合欧洲EN标准并通过测试</p>
        </div> 
        <div class="footwall">
        	<img src="images/jixieimg03.png">
            <div class="footwall-text">
            	<h3>高适配底板</h3>
                <p>有自适应可浮动调节的5mm范围锁芯保护盖，通过在面板与锁芯防护盖之间的增设弹簧并通过螺栓限位，使锁芯防护盖具有一定的弹性活动行程，可适用于厚度不同的门，兼容性强。</p>
            </div>
        </div>
         <div class="footwall diban2">
        	<img src="images/jixieimg04.png">
            <div class="footwall-text">
            	<h3>高品质底板</h3>
                <p>16MnCr5材料，洛氏硬度53-55℃的齿轮钢组成4块板材件叠置组成，防钻防撬防暴力开启，此设计受国家专利保护</p>
            </div>
        </div>
    </div>
    </div>
<!--面板 end-->