<!--参数 开始-->
	<div class="suoxin-pro parameter maintop">
    	<div class="containerbox cf">
        <div class="pitch-intro">
          <h2 class="wow fadeInDown" data-wow-delay="0.3s">产品参数</h2>
        </div> 
        <div class="parameterimg left"><img src="images/jixieimg09.jpg"></div>
        <div class="parameter-row right">
        	<h3>品牌名称 ：福维尔/FULL WELL</h3>
            <ul>
            	<li><span>主要材质：</span>不锈钢304</li>
                <li><span>可选颜色：</span>不锈钢砂光/不锈钢PVD金色/不锈钢镜光</li>
                <li><span>安装中心距：</span>68mm/72mm/85mm</li>
                <li><span>锁体：</span>6068防盗锁体/6072防盗锁体/6085防盗锁体</li>
                <li><span>锁芯：</span>进口EVVA防盗机械锁芯EPS/ICS/3KS、4KS/MCS(通过防火测试90分钟)</li>
                <li><span>锁匙：</span>标配5条</li>
                <li><span>适合门厚：</span>任意门厚</li>
                <li><span>适用范围：</span>入户防盗不锈钢门/木门</li>
                <li><span>质保：</span>20年</li>
            </ul>
            <font class="remarks">注：方形面板机械锁比圆形面板机械锁贵80元</font>
        </div>
        </div>
    </div>
<!--参数 end-->