<!--门锁颜色 开始-->
<div class="ban-section"><img src="images/jixieimg08.jpg" class="ban-img" />
<div class="containerbox">
<div class="ban-con jixiesuolist">
    <h2 class="wow fadeInUp" data-wow-delay="0.1s">三种表面颜色</h2>
    <p class="circlebox01 wow fadeInUp" data-wow-delay="0.4s"><span></span>不锈钢金色</p>
    <p class="circlebox02 wow fadeInUp" data-wow-delay="0.4s"><span></span>不锈钢砂光色</p>
    <p class="circlebox03 wow fadeInUp" data-wow-delay="0.4s"><span></span>不锈钢镜光色</p>
</div>
</div>
</div>
<!--门锁颜色 end-->