<!--表面材质 开始-->
	<div class="man-section"><img src="images/jixieimg02.jpg" class="jixie-img" />
    <div class="containerbox cf">
     <div class="zw-title pitch-intro maintop">
          <h2 class="wow fadeInDown" data-wow-delay="0.1s">精工细作 机械打磨</h2>
          <p class="wow fadeInDown" data-wow-delay="0.1s">FULLWELL福维尔机械锁采用不锈钢304，其材质强度高，抗氧化，不生锈<br/>抗腐蚀性强，长久使用闪亮如新。</p>
        </div>
        <div class="manufacture">
            <img src="images/jixieimg01.png" class="wow fadeInUp" data-wow-delay="0.1s">
        </div>
</div>
</div>
<!--表面材质 end-->