<!--锁体 开始-->
  <div class="dsmt-pro lockbody">
    <div class="containerbox cf">
    <div class="dianchiimg left wow fadeInRight" data-wow-delay="0.2s">
            <img src="images/jixieimg05.jpg" />
        </div>
       <div class="lockbodytit">
          <h2 class="wow fadeInLeft" data-wow-delay="0.2s">国内最好不锈钢锁体</h2>
          <p class="wow fadeInLeft" data-wow-delay="0.2s">锁体每天开关门锁体磨损非常厉害，我们的机械整锁采用的是国家标准精钢防盗双沟锁体坚固耐磨防撬，安全性极高。</p>
          <a href="https://shop144132623.taobao.com/" class="wow fadeInLeft" data-wow-delay="0.2s">进入淘宝店铺购买</a>
        </div> 
        <div class="zwimg wow fadeInUp" data-wow-delay="0.3s"><img class="img-responsive" src="images/jixieimg06.jpg" /> </div>  
    </div>
</div>
<!--锁体 end-->