<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="oKDWUTL4f10nOHLTSSEuGksttYhNbvd4B0ZQVpiHaXM" />
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Mather, CrazyPeak"/>
    <link rel="shortcut icon" href="/fw_hk/images/favicon.ico">
    <title>{$par.con_title}-{$title}</title>

    <!--全局设置参数-->
    <meta name="keywords" content="{$par.seo_keywords}"/>
    <meta name="description" content="{$description?$description:$par['seo_description']}">

    {block name="style"}
    {/block}

    {include file="baseHead"/}
</head>

<body>
<!--头部 开始-->
<header id="header">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-4">
                    <div class="top-number">
                        <p>
                            <i class="fa fa-phone-square"></i>{$par.con_phone_1}&nbsp;&nbsp;&nbsp;
                            <span class="ihonetel">{$par.con_phone_2}</span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-8">
                    <div class="social">
                        <ul class="social-share">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li onmouseover="this.className = 'weixin on';" onmouseout="this.className = 'weixin';"><a
                                    href="javascript:;"><i class="fa fa-weixin"></i></a>
                                <div class="weixin_nr">
                                    <div class="arrow"></div>
                                </div>
                            </li>
                        </ul>
                        <div class="search" id="searchDiv">
                            <input id="searchKey" type="text" class="search-form" autocomplete="off" placeholder="Search">
                            <i class="fa fa-search"></i>
                            <div id="searchResult" style="width: 180px;position: absolute;background-color: #121212;z-index: 999">
                            </div>
                        </div>
                        <script type="text/javascript">
                            searchDiv = $('#searchDiv');
                            searchResult = $('#searchResult');
                            $('#searchKey').bind('input propertychange',function () {
                                searchResult.empty();
                                $.ajax({
                                    type: "get",
                                    data: {key: $('#searchKey').val()},
                                    url: "{:url('index/apiGetSearch')}",
                                    success: function (data) {
//                                    console.log(data);
                                    console.log(data.msg);
//                                        if (data.code === 1) {
                                        $(data.msg).each(function (e, item) {
                                            obj = '<p style="margin-left:2px;overflow:hidden;white-space:nowrap;"><a style="color: #4e4e4e;width: 100%" href="/'+item.status+'/'+item.id+'"><img style="width: 20px;height: 20px;" src="'+item.img_url+'">'+item.name+'</a></p>';
                                            $('#searchResult').append(obj);
                                        })

                                        if (data.msg.length === 0){
                                            obj = '<p style="margin-left:8px;overflow:hidden;white-space:nowrap;color: #4e4e4e;text-align: left" >No search results</p>';
                                            $('#searchResult').append(obj);
                                        }
//                                        }
                                    },
                                    error: function () {
                                        console.warn("没有查询到数据")
                                    }
                                });
                            });
//                            searchDiv.mouseover(function () {
//                                searchResult.show();
//                            });
                            searchDiv.blur(function () {
                                searchResult.empty();
                            });

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--头部 end-->

<!--导航 开始-->
<nav class="navbar navbar-inverse" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/fw_hk/images/logo.png" alt="logo"></a>
        </div>
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                {volist name='column_list' id='item'}
                    <li id="{$item.name}" {eq name="$item['url']" value=":input('url')"}class="active"{/eq}><a href="/{$item.url}">{$item.name}</a></li>
                {/volist}

                <script type="text/javascript">
                    obj = '<ul class="dropdown-menu">'+
                            '{volist name="class" id="class_item"}<li><a href="/{$class_item.name}">{$class_item.name}</a></li>{/volist}'+
                        '</ul>';
                    $('#Products').addClass('dropdown').find('a').append(' <i class="fa fa-angle-down"></i>').append(obj);
                </script>

                <!--<li class="active"><a href="index.html">Home</a></li>-->
                <!--<li><a href="about us.html">About Us</a></li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="productslist.html" class="dropdown-toggle">Products <i class="fa fa-angle-down"></i></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="Security.html">Security</a></li>-->
                        <!--<li><a href="Lever handle.html">Lever handle</a></li>-->
                        <!--<li><a href="Window handle.html">Window handle</a></li>-->
                        <!--<li><a href="Pull handle.html">Pull handle</a></li>-->
                        <!--<li><a href="Glass door.html">Glass door</a></li>-->
                        <!--<li><a href="Accessories.html">Accessories</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li><a href="services.html">Services</a></li>-->
                <!--<li><a href="newlist.html">News</a></li>-->
                <!--<li><a href="contact.html">Contact</a></li>-->
            </ul>
        </div>
    </div>
</nav>
<!--导航 end-->
<!--主体 开始-->
{block name="content"}
{/block}
<!--主体 end-->

<!--contact 开始-->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Address</h3>
                    <ul>
                        <li>{$par.con_address}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Phone</h3>
                    <ul>
                        <li>{$par.con_phone_1}</li>
                        <li>{$par.con_phone_2}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Email</h3>
                    <ul>
                        <li>{$par.con_email_1}</li>
                        <li>{$par.con_email_2}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>WeChat</h3>
                    <ul>
                        <li><img src="/fw_hk/images/WeChat.jpg"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--contact end-->
<!--footer 开始-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                CopyRight@Jiangmen Gao te Hardware Electrical Appliance Manufacturing Co., Ltd.. All Right Reserved
            </div>
            <div class="col-sm-4">
                <ul class="pull-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/AboutUs">About Us</a></li>
                    <li><a href="/Products">Products</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->
<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity:1;"></span></a>

</body>
{include file="baseScript"/}

{block name="script"}
{/block}

</html>
