<!--可调节锁芯长度 开始-->
	<div class="evva-section blacktitle"><img src="images/evvaimg05.jpg" class="ban-img" />
    <div class="containerbox cf">
     <div class="zw-title pitch-intro maintop">
          <h2 class="wow fadeInDown" data-wow-delay="0.2s">可调节锁芯长度  适配国内所有门</h2>
          <p class="wow fadeInDown" data-wow-delay="0.2s">EVVA锁芯独有的Modular设计，可以以5mm为<br/>单位来调节长度以及锁芯的中心位置，几乎可以适配国内所有门</p>
        </div>
        <div class="man-con adjust">
            <img src="images/evvaimg04.png">
            <span class="wow fadeInUp" data-wow-delay="0.2s">5mm可调节长度范围</span>
        </div>
</div>
</div>
<!--可调节锁芯长度 end-->