<!--五大锁芯系统 开始-->
	<div class="suoxin-pro fivesystem">
    <div class="systembox cf">
    	  <div class="pitch-intro maintop">
          <h2 class="wow fadeInDown" data-wow-delay="0.2s">五大锁芯系统</h2>
          <p class="wow fadeInDown" data-wow-delay="0.2s">EVVA每个系列的锁芯均有五个系统可供选择，可适应不同的门</p>
        </div> 
         <div class="system01">
         	<img src="images/stystem01.jpg">
            <p>单开款</p>
         </div>
         <div class="system01">
         	<img src="images/stystem02.jpg">
            <p>双开款</p>
         </div>
         <div class="system01">
         	<img src="images/stystem03.jpg">
            <p>半截款</p>
         </div>
         <div class="system02">
         	<img src="images/stystem04.jpg">
            <p>电动感应锁芯</p>
         </div>
        <div class="system02">
         	<img src="images/stystem05.jpg">
            <p>美式锁芯</p>
         </div>
    </div>
    </div>
<!--五大锁芯系统 end-->