<!--钥匙特点 开始-->
<div class="ban-section"><img src="images/evvaimg02.jpg" class="ban-img" />
<div class="containerbox">
<div class="ban-con codelist">
    <ul>
    	<li>
            <h3 class="wow fadeInDown" data-wow-delay="0.2s">1. 唯一编码</h3>
            <p class="wow fadeInDown" data-wow-delay="0.2s">每一个锁芯、钥匙都会有其唯一的编码，对应着其唯一的一个身份证也意味着其钥匙也是唯一适配的</p>
        </li>
           <li>
            <h3 class="wow fadeInDown" data-wow-delay="0.2s">2. 优质镍银材质</h3>
            <p class="wow fadeInDown" data-wow-delay="0.2s">EVVA密匙材质采用优质镍银，保证了最高的耐磨性，不会生锈</p>
        </li>
           <li>
            <h3 class="wow fadeInDown" data-wow-delay="0.2s">3. 独有的磁力技术</h3>
            <p class="wow fadeInDown" data-wow-delay="0.2s">EVVA特有的磁力技术，使用8个高强永磁块，不同极向的组合，由于磁力具有非接触性，非原配锁匙不可开启</p>
        </li>
          <li>
            <h3 class="wow fadeInDown" data-wow-delay="0.2s">4. 高精密系统</h3>
            <p class="wow fadeInDown" data-wow-delay="0.2s">EVVA锁芯在当地受专利保护，其他人不可随意复制，复制钥匙时需要电子许可证书，驱动激光感应的全自动配匙机</p>
        </li>
    </ul>
</div>
</div>
</div>
<!--钥匙特点 end-->