<!--pk 开始-->
	<div class="suoxin-pro lockcore maintop">
    <div class="containerbox cf">
    	  <div class="pitch-intro">
            <h2 class="wow fadeInDown" data-wow-delay="0.2s">EVVA锁芯PK普通锁芯</h2>
            <img src="images/evvaimg10.jpg" class="evvaalign">
          </div> 
          <div class="lockcorepk01">
          <img src="images/evvapk01.jpg">
            <p>使用8个高强永磁块，不同极向的组合，由于磁力具有非接触性，所以并不需要接触到锁的核心部分，其他钥匙或工具无法开启</p>
        </div>
        <div class="lockcorepk02">
          <img src="images/evvapk02.jpg">
            <p>普通的锁芯大多是叶片或者弹珠结构，被大众了解结构简单，易被破坏，防盗性能弱</p>
        </div> 
         <div class="lockcorepk03">
          <img src="images/evvapk03.jpg">
            <p>EVVA锁芯表面材质为纯铜打造，不生锈、不褪色锁芯内部多处设有硬质合金零部件，防钻防打断</p>
        </div>
        <div class="lockcorepk04">
          <img src="images/evvapk04.jpg">
            <p>普通的锁芯用一些廉价的材质制造，易生锈，内部不具备防钻防打断能力</p>
        </div> 
           <div class="lockcorepk05">
          <img src="images/evvapk05.jpg">
            <p>每一个锁芯、钥匙都有其唯一的编码与之对应，复制钥匙时需要电子许可证书，驱动激光感应的全自动配匙机，其他人难以复制</p>
        </div>
        <div class="lockcorepk06">
          <img src="images/evvapk06.jpg">
            <p>市面上标榜的空转锁芯，结构简单，在一般的配匙机上即可配制，极容易被复制并且存在一些互开性其稳定性极差</p>
        </div>   
    </div>
    </div>
<!--pk end-->