<!--视频 开始-->
<div class="video" style="background-color: #131416">
    <img id="videobg" src="images/video-img.jpg" class="videobg" style="width:100%;"/>
    <video id="video" onclick="playPause()" style="margin-left:30%;width: 40%;display: none">
        <source src="images/MCS_Movie.mp4" type="video/mp4"/>
        <!--<source src="/example/html5/mov_bbb.ogg" type="video/ogg" />-->
    </video>
    <a id="videoBtn" target="_blank" class="paly-btn" onclick="playPause()">
        <img src="images/icon-play.png">
    </a>
    <div id="tip" class="tip">点击视频 了解更多</div>
</div>
<!--视频 end-->