{extend name="Public:base" /}

{block name="header"}
{/block}

<!-- 样式 -->
{block name="style"}

<style>

</style>
{/block}
<!-- /.样式 -->



{block name="content"}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <!-- Default box -->
            <div class="box" style="width: 60% !important;">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-4 col-lg-6">
                            <h3 class="box-title">信息列表</h3>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <tbody>
		<thead>
                        	   <tr>
                                    <th style="">时间</th>
                                    <th style="">名称</th>
                                    <th style="">电话</th>
                                    <th style="">邮箱</th>
                                    <th style="">信息</th>
                                    <th style="width: 130px">操作</th>
                        	    </tr>
		</thead>
                        {volist name="list" id="vo"}
                        <tr>
                            <td >{:date('Y-m-d H:i:s',$vo['create_time'])}</td>
                            <td title="{$vo.name}">{$vo.name}</td>
                            <td title="{$vo.phone}">{$vo.phone}</td>
                            <td title="{$vo.email}">{$vo.email}</td>
                            <td title="{$vo.message}">{$vo.message}</td>
                            <td>&nbsp;&nbsp;
                                <button onclick="info({$vo.id})" style="background: #2f8743;color: white;padding: 2px 5px 2px 5px;border-radius: 4px;border: 0;box-shadow: 1px 1px 2px #999">查看</button>&nbsp;&nbsp;
                                <button onclick="del({$vo.id})" style="background: #cc4400;color: white;padding: 2px 5px 2px 5px;border-radius: 4px;border: 0;box-shadow: 1px 1px 2px #999">删除</button>
                            </td>
                        </tr>
                        {/volist}

                        </tbody>
                    </table>

                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<!-- /.content -->
{/block}

{block name="scriptSrc"}
<script src="/static/plugins/select2/select2.min.js"></script>
<script src="/static/plugins/select2/i18n/zh-CN.js"></script>
{/block}



{block name="script"}
<script type="text/javascript">

    function del(id) {
        var r = confirm('确定删除该信息？');
        if( r == true ){
            window.location.href="{:url('User/del')}"+'?id='+id;
        }else {
            return false;
        }
    }

    function info(id) {
        window.location.href="{:url('User/info')}"+'?id='+id;
    }

</script>
{/block}