<!--联系我们 开始-->
<div class="containerbox cf navDiv" id="joinus_div" style="display: none">
    <div class="mapbox cf">
        <div  id="dituContent" class="mapdown"></div>
        <div class="companyintroduce">
            <p><strong>公司联系方式</strong><br/>公司QQ：2138689621
                全国免费服务热线：4000982168<br/>
                公司电话：86-0750-3555655<br/>
                公司传真：86-0750-3555955<br/>
                邮箱：cindy@fullwell-hk.com felix@fullwell-hk.com<br/>
                地址：广东省江门市蓬江区紫莱路16号</p>
        </div>
    </div>
</div>
<!--联系我们 end-->