
<!--关于我们 开始-->
<div class="containerbox cf navDiv" id="adoutus_div">
    <ul class="aboutuslist">
        <li><img src="images/quality01.jpg"><span>诚信</span>
            <p>诚信是金钱买不到的品牌,福维尔诚永久，信未来</p></li>
        <li><img src="images/quality02.jpg"><span>品质</span>
            <p>品质是信誉的保证,信誉造就福维尔忠实群体</p></li>
        <li><img src="images/quality03.jpg"><span>技术</span>
            <p>技术推动我们更专业，更专注</p></li>
        <li><img src="images/quality04.jpg"><span>服务</span>
            <p>为人民服务是唯一宗旨谋经济发展是第一要务</p></li>
    </ul>
    <div class="companyintroduce cf">
        <p>江门市高特五金电器制造有限公司成立于2011年10月，现坐落于江门市蓬江区紫莱路16号，独家代理奥地利EVVA产品在中国大陆、香港及澳门的销售，占地面积1500平方米。我司专业生产和销售FULL
            WELL品牌的机械防盗整锁及指纹密码锁，融合欧洲高端技术及我们的技术创新及应用，打造出极高品质及防盗性能超高的产品，诚邀全国各地代理。</p>
        <p>成立：2011年3月14日公司成立，工厂占地面积1500平方米，主要经营五金产品货物、技术进出口。<br/>
            壮大期：2013年，公司员工不断壮大，业务在领域不断拓展，从单一的货物进出口发展至家居防盗行业，公司成功注册福维尔/full well品牌，品牌产品包括：指纹密码锁、机械防盗整锁。公司同时引进了欧洲著名品牌EVVA机械防盗锁芯，独家代理在内地的销售。<br/>
            快速平稳发展：2017年，公司发展壮大，正在从普通的工厂朝高新技术新型公司发展。</p>
        <p><strong>一、企业核心价值观</strong><br/>诚实守信、专注、创新</p>
        <p><strong>二、企业使命</strong><br/>全心全意为人民服务，做真正能给人民安全和便利的企业</p>
        <p><strong>三、企业目标</strong><br/>为客户需求创造价值 为员工创造机会 为合作创造美好企业环境</p>
    </div>
    <!--alert-->
    <div class="alert">
        <div class="content">
            <img id="showImg" src="" style="margin-top: 60px"/>
        </div>
        <img id="closeBtn" src="images/close.png" style="margin-top: 60px"/>
    </div>
    <!--alert over -->
    <div class="qualification">
        <h4>企业资质</h4>
        <div class="main-center">
            <div class="child">
                <div class="images">
                    <img src="images/np_ry1.jpg"/>
                </div>
                <p class="title">一种锁具的简易结构</p>
                <img class="pointer" onclick="pointerClick(this,'images/np1_ry01.jpg')" src="images/pointer.png"/>
            </div>
            <div class="child">
                <div class="images">
                    <img src="images/np_ry2.jpg"/>
                </div>
                <p class="title">一种锁芯结构</p>
                <img class="pointer" onclick="pointerClick(this,'images/np1_ry02.jpg')" src="images/pointer.png"/>
            </div>
            <div class="child">
                <div class="images">
                    <img src="images/np_ry3.jpg"/>
                </div>
                <p class="title">一种自适配式锁具</p>
                <img class="pointer" onclick="pointerClick(this,'images/np1_ry03.jpg')" src="images/pointer.png"/>
            </div>
            <div class="child">
                <div class="images">
                    <img src="images/np_ry4.jpg"/>
                </div>
                <p class="title">一种锁具的防钻防撬底板</p>
                <img class="pointer" onclick="pointerClick(this,'images/np1_ry04.jpg')" src="images/pointer.png"/>
            </div>
        </div>
    </div>
</div>
<!--关于我们 end-->