<!--加入我们 开始-->
<div class="containerbox cf navDiv" id="contactus_div" style="display: none">
    <div class="joinus">
        <h4>业务员</h4>
        <p>岗位职责<br/>
            1.大专以上学历，有二年以上相关工作经验，具行业销售经验优先考虑；<br/>
            2.有较强的事业心、进取心，有良好的服务意识、有良好的沟通能力和团队合作精神，有组建及带领销售团队的经验；<br/>
            3.具有独立地制定销售工作计划的水平和实施经验并能够具备执行能力以达到制定的销售目标；<br/>
            4.具有流畅的表达能力和较好的行文能力，并具备一定水平的沟通销售技巧，对装饰五金行业有一定了解；<br/>
            5.男士必须要有C1驾驶证。
        </p>
    </div>
    <div class="joinus">
        <h4>绘图员</h4>
        <p>岗位职责<br/>
            大专以上学历，机械设计专业，熟悉3D绘图，有小车C牌
        </p>
    </div>
    <div class="joinus">
        <h4>美工</h4>
        <p>岗位职责<br/>
            1.2年以上美工工作经验，熟练使用Photoshop、Illustrator、Dreamweaver等相关软件。<br/>
            2.公司网站风格及专题页面设计，活动广告和相关图片的制作；<br/>
            3.新媒体广告创意、广告文案创作，公司网站文章撰写；<br/>
            4.协助其他员工完成对设计、美工、编辑方面的需求；<br/>
            5.有良好的学习能力、沟通能力，愿意与公司一起进步，懂网络优化、推广者优先。
        </p>
    </div>
    <div class="noneborder joinus">
        <h4>厨工兼清洁工</h4>
        <p>岗位职责<br/>
            1.煮三十名左右人员中餐，买菜、收拾碗筷，保持厨房卫生整洁；<br/>
            2.负责二楼办公室的保洁工作；<br/>
            3.工厂公共区域的清洁打扫工作；<br/>
            4.工作时间：5天半，只要完成工作，时间自己可以自由分配。<br/>
        </p>
    </div>
</div>
<!--加入我们 end-->