
<!--pk 开始-->
	<div class="suoxin-pro pk-section maintop">
    <div class="pkconter containerbox cf">
    	  <div class="pitch-intro">
          <h2 class="wow fadeInDown" data-wow-delay="0.2s">福维尔智能锁PK普通锁</h2>
          <p class="wow fadeInDown" data-wow-delay="0.2s">看得见的优秀品质，拒绝劣质产品做良心企业</p>
        </div> 
        <div class="suopk01">
        	<div class="fwtiitle">
        	<h3>欧洲顶级防盗</h3>
            <p>奥地利原装进口EVVA锁芯高精密结构，防暴力、防技术开启</p>
            </div>
            <div class="fwtiitle blackcolor">
        	<h3>普通锁芯</h3>
            <p>劣质材料，内部结构简单不防撬，防盗性能差</p>
            </div>
        </div>
        <div class="suopk02">
        	<div class="fwtiitle">
        	<h3>瑞士进口指纹头</h3>
            <p>为P9同款指纹采集技术，反应速度极快，无法克隆</p>
            </div>
            <div class="fwtiitle blackcolor">
        	<h3>其它品牌</h3>
            <p>利用光的折射和反射原理成本低，安全性能极差</p>
            </div>
        </div>
                <div class="suopk03">
        	<div class="fwtiitle">
        	<h3>304不锈钢面板</h3>
            <p>防腐蚀，抗氧化，不生锈坚实耐用</p>
            </div>
            <div class="fwtiitle blackcolor">
        	<h3>小作坊生产</h3>
            <p>颜色暗淡，用过一段时间掉颜色生锈，质量差</p>
            </div>
        </div>
           <div class="suopk04">
        	<div class="fwtiitle">
        	<h3>专利把手设计</h3>
            <p>将指纹采集融入游离式把手上，一握便开启，省时省力</p>
            </div>
            <div class="fwtiitle blackcolor">
        	<h3>其它品牌</h3>
            <p>不是游离式把手设计，开启方式不方便</p>
            </div>
        </div>
    </div>
    </div>
<!--pk end-->