
<!--电池 开始-->
<div class="dsmt-pro">
    <div class="containerbox cf">
    <div class="dianchitit left">
          <h2 class="wow fadeInLeft" data-wow-delay="0.2s">低耗节能  无需连线  更环保</h2>
          <p class="wow fadeInLeft" data-wow-delay="0.2s">标准电源，通用性强，超低耗，续航时间长久</p>
          <p class="wow fadeInLeft" data-wow-delay="0.2s">通过实验证明，4节6V电池电池可使用一年以上</p>
          <p class="wow fadeInLeft" data-wow-delay="0.2s">电池没电时，仅需常规数据线连接充电宝即可完成应急供电</p>
        </div>
        <div class="dianchiimg wow fadeInRight" data-wow-delay="0.2s">
            <img src="images/zhiwenimg05.png" />
        </div>
        
    </div>
</div>
<!--电池 end-->