
<!--锁体 开始-->
	<div class="suoxin-pro suoti-section">
    <div class="containerbox cf">
    	  <div class="pitch-intro maintop">
          <h2 class="wow fadeInDown" data-wow-delay="0.2s">国内最好防盗锁体</h2>
          <p class="wow fadeInDown" data-wow-delay="0.2s">锁体采用304不锈钢材质，加厚升级的防爆锁舍，<br/>可承受5000牛冲击力（一个成年男子全力一击约为500牛）</p>
        </div> 
         <div class="zwimg wow fadeInUp" data-wow-delay="0.3s"><img class="img-responsive" src="images/zhiwenimg07.jpg" /> </div>
    </div>
    </div>
<!--锁体 end-->