
<!--把手设计 开始-->
<div class="ban-section"><img src="images/zhiwenimg02.jpg" class="ban-img" />
<div class="containerbox">
<div class="ban-con">
    <h2 class="wow fadeInUp" data-wow-delay="0.1s">一握就开启  专利把手设计</h2>
    <p class="wow fadeInUp" data-wow-delay="0.4s">指纹采集器直接安装在把手上，直接识别指纹开门，更便捷实用</p>
    <p class="wow fadeInUp" data-wow-delay="0.4s">返璞归真，欧洲简约设计，还原指纹锁的味道</p>
    <p class="wow fadeInUp" data-wow-delay="0.4s">双快逃生功能室内可上提反锁，室内可以下按快速开门，多重安全保障</p>
    <p class="wow fadeInUp" data-wow-delay="0.4s">产品获国家专利证书</p> 
</div>
<div class="ban-syms1"><h4>专利号：ZL 2016 2 0944931.1</h4><h4>专利号：ZL 2016 2 0643768.5</h4><h4>专利号：ZL 2016 2 0641630.0</h4></div>
</div>
</div>
<!--把手设计 end-->