
<!--虚伪密码 开始-->
	<div class="man-section"><img src="images/zhiwenimg03.jpg" class="ban-img" />
    <div class="containerbox cf">
     <div class="zw-title pitch-intro maintop">
          <h2 class="wow fadeInDown" data-wow-delay="0.2s">防偷窥虚位密码</h2>
          <p class="wow fadeInDown" data-wow-delay="0.2s">在真实密码前、后，任意添加多位数字，只要中间有连续的密码，就能解锁<br/>注意：一旦录入指纹后，指纹开锁是最快最常用的开锁方式</p>
        </div>
        <div class="man-con">
            <img src="images/zhiwenimg04.png">
        </div>
</div>
</div>
<!--虚伪密码 end-->