
<!--底板 开始-->
	<div class="man-section"><img src="images/dibanbg.jpg" class="diban-bg ban-img" />
    <div class="containerbox cf">
     <div class="zw-title pitch-intro maintop">
          <h2 class="wow fadeInDown" data-wow-delay="0.2s">专利产品  加厚底板</h2>
          <p class="wow fadeInDown" data-wow-delay="0.2s">电子锁采用德国牌号16MnCr5材料，洛氏硬度53-55℃的齿轮钢组成<br/>4块板材件叠置组成，防钻防撬防暴力开启，此设计受国家专利保护</p>
        </div>
        <div class="diban-img man-con">
            <img src="images/dibanimg.png">
        </div>
</div>
</div>
<!--底板 end-->