
<!--指纹头介绍 开始-->
	<div class="zw-bgcorlor maintop" id="mian">
     <div class="containerbox">
        <div class="pitch-intro">
          <h2 class="wow fadeInDown" data-wow-delay="0.1s">瑞士进口指纹头 灵敏极速识别</h2>
          <p class="wow fadeInDown" data-wow-delay="0.1s">极速认证+成长记忆，使用越久越灵敏，老人小孩等指纹不清晰人群均能准确识别，与华为P9同款指纹采集技术，指纹锁的开门速度小于0.5秒</p>
        </div>
         <div class="zwimg"><img class="img-responsive" src="images/zhiwenimg01.png" /> </div>
          <div class="pitch-content">
          	<div class="trait">
          	<div class="radiubox"><h1>≤0.5S</h1><p>指纹识别<br/>小于0.5秒</p></div>
            <div class="radiubox"><h1>100万 </h1><p>集成100万<br/>个电容传感器</p></div>
           <div class="radiubox"><h1>360° </h1><p>360度全方位<br/>识别指纹</p></div>
            <div class="radiubox"><h1><0.0001%</h1><p>指纹误识率低于<br/>百万分之一</p></div>
            <div class="radiubox"><h1>>2500</h1><p>可录入超过2500<br/>以上指纹</p></div>
            </div>
          </div>
      </div>
    </div>
<!--指纹头介绍 end-->