<!--加盟优势 开始-->
<div class="ban-section"><img src="images/business02.jpg" class="ban-img businessimg"/>
    <div class="containerbox">
        <div class="businesslist ban-con">
            <h2 class="wow fadeInUp" data-wow-delay="0.2s">加盟优势</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4s">一、产品设计：倡导个性化，私人订制防盗锁产品</p>
            <p class="wow fadeInUp" data-wow-delay="0.4s">二、定位准确，以防盗产品为核心，打造时尚家居安全</p>
            <p class="wow fadeInUp" data-wow-delay="0.4s">三、产品系列：覆盖智能家居系列、锁芯系列、窗把手系列</p>
            <p class="wow fadeInUp" data-wow-delay="0.4s">四、生产质量有保证，厂家直供，技术持续迭代创新</p>
        </div>
    </div>
</div>
<!--加盟优势 end-->