<!--招商加盟 开始-->
<div class="suoxin-pro color-section"><img src="images/business01.jpg" class="ban-img businessimg"/>
    <div class="containerbox cf">
        <div class="pitch-intro pdtop">
            <h2 class="wow fadeInDown" data-wow-delay="0.2s">加盟流程</h2>
            <p class="wow fadeInDown" data-wow-delay="0.2s">江门市福维尔有限公司智能防盗门锁、机械防盗整锁、锁芯、家用五金代理批发<br/>
                【福维尔品牌招商代理热线:400-0982-168】</p>
            <img src="images/business04.png">
        </div>
    </div>
</div>
<!--招商加盟 end-->