<!--下载中心 开始-->
<div class="suoxin-pro whitebgcolor">
    <div class="containerbox cf">
        <div class="pitch-intro maintop">
            <h2 class="wow fadeInDown" data-wow-delay="0.2s">下载中心</h2>
        </div>
        <a href="/jingxiaoshangxieyi.pdf" target="_blank">
            <div class="agreement"><span>代理合作协议</span><img src="images/business03.png"></div>
        </a>
        <a href="/FULLWELL门窗五金画册.pdf" target="_blank">
            <div class="agreement"><span>福维尔产品画册</span><img src="images/business03.png"></div>
        </a>
    </div>
</div>
<!--下载中心 end-->