<!--ABOUT US 开始-->
<section id="about-us">
    <div class="container">
        <div class="center">
            <h2>ABOUT US</h2>
        </div>
        <div class="col-md-5 about-top">
            <h2>Our Exhibition Hall</h2>
            <p>FULL WELL International Management Limited. was established in October 2010, covers area as about 2500
                squares meters. We locate in the center of Jiangmen City, the west of most developed Pearl River Delta
                in China.</p>
            <p class="sub">We mainly produce various of anti-theft locks ( Digital Fingerprint locks and mechanical
                anti-theft locks),anti-fire door locks , all kinds of lock-sets
                for doors or windows and different locking systems,as well as various types of decorative hardware
                accessories.</p>
            <p class="sub"> In addition, we also provide various professional services:
                1) Searching high quality suppliers for oversea buyers.
                2) Providing production and quality status tracking for various orders.
                3) Quality testing services for various types of hardware products. 4) Following and implementing import
                and export business.
            </p>
            <a href="#" class="hvr-outline-out">Read More</a>
        </div>
        <div class="col-md-7 about-img">
            <a href="#"><img src="fw_hk/images/aboutimg01.jpg" alt="about us"/></a>
        </div>
    </div>
</section>
<!--ABOUT US end-->