<!--LATEST PRODUCT 开始-->
<section id="latest-product">
    <div class="container">
        <div class="center">
            <h2>LATEST PRODUCT</h2>
        </div>
        <div class="span_of_3">
            <div class="span1_of_3"><a class="popup-with-zoom-anim" href="#"><img src="fw_hk/images/latest-productimg01.jpg"
                                                                                  alt="Fingerprint lock"/></a> <a
                    class="popup-with-zoom-anim" href="#">
                <h3>Fingerprint Lock</h3>
            </a>
                <h4 class="divider"></h4>
                <p>Not only qualify anti-theft capabilities, intelligent Lock also with the biggest advantages as its
                    security and convenience.</p>
            </div>
            <div class="span1_of_3"><a class="popup-with-zoom-anim" href="#"><img src="fw_hk/images/latest-productimg02.jpg"
                                                                                  alt="Fingerprint lock"/></a> <a
                    class="popup-with-zoom-anim" href="#">
                <h3>Mechanical anti-theft lock</h3>
            </a>
                <h4 class="divider"></h4>
                <p>The lock-sets have obtained a number of utility model patent certificates. The ultra-hard door plate
                    meets European EN standards and could pass the related tests.</p>
            </div>
            <div class="span1_of_3"><a class="popup-with-zoom-anim" href="#"><img src="fw_hk/images/latest-productimg03.jpg"
                                                                                  alt="Fingerprint lock"/></a> <a
                    class="popup-with-zoom-anim" href="#">
                <h3>Interior door lock</h3>
            </a>
                <h4 class="divider"></h4>
                <p>Can meet the requirements of all interior doors, simple and quick installation is its biggest
                    feature.</p>
            </div>
        </div>
    </div>
</section>
<!--LATEST PRODUCT end-->