<!--SERVICES 开始-->
<section id="feature SERVICES">
    <div class="container">
        <div class="center">
            <h2>SERVICES</h2>
        </div>
        <div class="col-md-6 fields-left">
            <span class="home"></span>
            <h4>OEM/ODM</h4>
            <p>Could make the products according to customer’s requirements, with exquisite workmanship and quality
                assurance.</p>
        </div>
        <div class="col-md-6 fields-left">
            <span class="pen"></span>
            <h4>Professional Services</h4>
            <p>1）Searching high quality suppliers for oversea buyers.
                2）Providing production and quality status tracking for various orders.
                3）Quality testing services for various types of hardware products.
                4) Following and implementing import and export business.
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<!--SERVICES end-->