<!--NEWS 开始-->
<section id="news">
    <div class="container">
        <div class="center">
            <h2>NEWS</h2>
        </div>
        <div class="span_of_3">
            <div class="events-grid">
                <a href="#"><img src="fw_hk/images/newimg01.jpg" alt=" " class="img-responsive"/></a>
                <div class="event-grid-bottom">
                    <div class="col-xs-2 event-grid-bottom-left">
                        <h4>12th <span>August</span></h4>
                    </div>
                    <div class="col-xs-6 event-grid-bottom-right">
                        <h4><a href="#">High end stainless steel window handle</a></h4>
                        <p>Stainless steel material, exquisite appearance design, small installation space, simple and
                            quick assembly, and improved assembly efficiency.</p>
                    </div>
                </div>
            </div>
            <div class="events-grid">
                <a href="#"><img src="fw_hk/images/newimg02.jpg" alt=" " class="img-responsive"/></a>
                <div class="event-grid-bottom">
                    <div class="col-xs-2 event-grid-bottom-left">
                        <h4>05th <span>October</span></h4>
                    </div>
                    <div class="col-xs-6 event-grid-bottom-right">
                        <h4><a href="#">Home intelligent door lock</a></h4>
                        <p>The minimalist design style and three kinds of unlocking methods not only satisfy the
                            burglary but also provide convenience.</p>
                    </div>
                </div>
            </div>
            <div class="events-grid">
                <a href="#"><img src="fw_hk/images/newimg03.jpg" alt=" " class="img-responsive"/></a>
                <div class="event-grid-bottom">
                    <div class="col-xs-2 event-grid-bottom-left">
                        <h4>15th <span>May</span></h4>
                    </div>
                    <div class="col-xs-6 event-grid-bottom-right">
                        <h4><a href="#">Using a new type of patent certificate</a></h4>
                        <p>Many products have been granted new patent certificates in China, and all designs are
                            protected by national intellectual property rights.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--NEWS end-->