<!--contact 开始-->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Address</h3>
                    <ul>
                        <li>No. 16, Zilai Road, Pengjiang District, Jiangmen, Guangdong, China</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Phone</h3>
                    <ul>
                        <li>(+86) 750 3555655</li>
                        <li>(+86) 750 3559881</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Email</h3>
                    <ul>
                        <li>felix@fullwell-hk.com</li>
                        <li>cindy@fullwell-hk.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>WeChat</h3>
                    <ul>
                        <li><img src="fw_hk/images/WeChat.jpg"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--contact end-->